*/15 * * * *echo "Run opencal:sync:caldav cronjob" && php /srv/app/bin/console opencal:sync:caldav -v --env=$APP_ENV >> /dev/stdout
* * * * * echo "Run opencal:reminders:populate cronjob" && php /srv/app/bin/console opencal:reminders:populate -v --env=$APP_ENV >> /dev/stdout
# crontab requires empty line at end of file
